.hero {
  position: relative;
  height: 550px;
  overflow: hidden;
  perspective: 1000px;
  transform-style: preserve-3d;

  &-background,
  &-foreground { position: absolute; }

  &-background {
    height: 250%;
    width: 250%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    transform-origin: top center;
    left: -75%;
    top: -60%;
    transition: all 8ms linear;
    transform: translateZ(-400px) translateY(0);
    filter: grayscale(30%);
  }

  &-foreground {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: $foreground-z-layer;

    .hero-content-container {
      position: relative;
      height: 100%;
      width: 100%;
      display: grid;
      grid-template-columns: minmax(2ch, 1fr) auto minmax(2ch, 1fr);
      grid-template-rows: minmax(2ch, 1fr) auto minmax(2ch, 1fr);

      .hero-box {
        grid-column: 2;
        grid-row: 2;
        background: rgba(0,0,0,0.7);
        color: grey(10, 87);
        padding: 4ch 2ch;
        border-radius: 3px;
        box-shadow: 0 0 8px -1px rgba(0,0,0,0.6);
        
        .p { max-width: 52ch; }

        .btn-link {
          margin: 1.38rem auto 1.38rem 0;
        }
      }
    }
  }
}


@media screen and (min-width: 1000px) {
  .hero > .hero-foreground > .hero-content-container {
    grid-template-columns: minmax(2ch, 1fr) auto 2fr minmax(2ch, 1fr);
    grid-template-rows: minmax(2ch, 1fr) auto minmax(2ch, 1fr);
  }
}