.link-btn {
  padding: 0 2ch;
  line-height: 2rem;
  border-radius: 3px;
  transition: background 80ms ease;
  height: 2rem;
  display: inline-block;
  
  &:hover { text-decoration: none; }


  &.primary { 
    background-color: primary(100, 45); 
    color: white;

    &:hover { background-color: primary(100, 35); }
  }
}