.page {
  height: 100%;
  width: 100%;
  padding-top: $header-height;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: $foreground-z-layer;

  &.simple {
    display: flex;
    flex-direction: column;

    & > .content { flex: 1; }
  }
}