input,
select,
textarea,
button {
  appearance: none;
  font-family: inherit;
  color: inherit;
  background: transparent;
  font-size: inherit;
}

button {
  border: none;
  line-height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}