.figure-container {
  display: grid;
  place-items: center;
  box-shadow: 0 0 6px -1px rgba(0,0,0,0.2);

  figure { position: relative; }

  & img,
  & figcaption { border-radius: 3px; }

  figcaption {
    margin-top: 1ch;
    background: grey(8, 8);
    padding: 0 0 0 1ch;
    width: 100%;
    bottom: 1px;
  }
  
  figcaption {
    position: absolute;
  }
}

.inverted .figure-container figcaption {
  background: grey(8, 78);
  color: grey(12, 20);
}

.figure-wrap {
  max-width: fit-content;
  margin: 1.38rem auto;

  .links {
    display: flex;
    flex-direction: column;

    a > .icon { margin: 0 1ch; }
  }
}

.about-tom + .figure-wrap > .figure-container {
  box-shadow: none;

  figcaption { color: white; }

  figcaption,
  img { box-shadow: 0 0 4px -1px rgba(0,0,0,0.3); }
}